@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

html {  
  scroll-behavior: smooth;  
}

:root {
  box-sizing:border-box;
  max-width: 1280px;
  
  font-family: sans-serif;
  
  color-scheme: light dark;
  background-color: #ffffff;
  background-image: url("src/assets/bg.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 3%;
}

body {
  margin:0;
  padding:0;
}

li, a, button {
  font-family: "Work Sans", sans-serif;
  text-decoration:none;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  position: relative;
  top: -5px;
}

.selected {
  text-decoration:underline;
  color: rgba(255, 255, 255, 1);
}

a:hover  {
  color: rgba(255, 255, 255, 1);
}

.navlink{
  display: inline-block;
  padding: 0px 20px;
}
.navlink li a {
  transition: all 0.3 ease 0s;
}

.icon {
  padding-left: 0px;
  padding-right: 25px;
  position: relative;
  top: -4px;

}

button {
  padding: 9px 15px;
  background-color: #629AED;
  color: #000E2F;
  font-weight: 500;
  border: none;
  border-radius: 6px;
  transition: all 0.3 ease 0s;
}
button:hover {
  background-color: #629aedd0;
  color: #000E2F;
}

.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}