@import url(https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap);
@font-face {
  font-family: "Overused Grotesk";
  src: url(src/assets/fonts/OverusedGrotesk-Medium.ttf);
}
@font-face {
  font-family: "Bluu Next";
  src: url(src/assets/fonts/BluuNext-Bold.otf);
}

html {  
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;  
}
body {
  margin:0;
  padding:0;
}
:root {
  font-family: sans-serif;

  /* color variables */
  --light: #FFFEF0;
  --lightHover: rgba(255, 255, 255, 0.7);
  --light2: #F2F1E6;
  --lightBlueHover: rgba(143, 186, 249, 0.9);
  --lightBlue: #8FBAF9;
  --text: #2B3041;
  --lightElement: #90939E;
  --bg: #21253E;

  /* custom font variables */
  --overused: "Overused Grotesk";
  --bluu: "Bluu Next";
  --work: "Work Sans";

/* background */
  background-color: var(--bg);
  background-image: url(src/assets/Gradient.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

/* Navbar */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 2%;
}

  a, button {
  font-family: "Work Sans", sans-serif;
  text-decoration:none;
  font-size: 13px;
  color: var(--lightElement);
  position: relative;
  top: 5px
}

a {
  top: -15px;
}

.logo {
  margin-right: 55px;
}

.selected {
  text-decoration:underline;
  color: var(--light);
}

a:hover  {
  color: var(--lightHover);
}

.navlink{
  display: inline-block;
  margin-left: 35px;
}

.icon {
  padding-left: 9px;
  padding-right: 15px;
  position: relative;
  top: -5px;
}

button {
  padding: 10px 23px;
  background-color: var(--lightBlue);
  color: var(--text);
  font-weight: 500;
  border: none;
  border-radius: 20px;
  transition: all 0.3 ease 0s;
  cursor: pointer;
  margin-bottom: 10px
}
button:hover {
  background-color: var(--lightBlueHover);
  color: var(--text);
}

/*
Hero
*/


.herotxt {
  align-items: center;
  text-align: center;
  font-size: 40px;
  font-family: var(--bluu);
  color: var(--light);
}

.sub {
  font-family: var(--overused);
  font-size: 18px;
  color: var(--lightBlue);
  text-align: center;
}

.hero{
  background-image: url("./assets/bg.png");
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 200px;
}

/*
MiniGallery
*/

.carousel{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 3%;
  padding-bottom: 3%;
}

.spacing{
  padding: 7%;
}

.spacing2{
  padding: 3%;
}

.carousel-buttons{
  display: flex;
  justify-content: center;
  padding: 10px;
  padding-bottom: 20px;;
}

.back, .next{
  width: 10px;
  display: inline;
}

.spacing1{
  display: inline;
  padding: 2%;
}

.backB, .nextB{
  background-color: var(--lightBlueHover);
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1px;
}

.backB:hover, .nextB:hover{
  background-color: var(--light);
}

/* NewsBoard */

.newsBoard{
  display: flexbox;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--light);
  padding: 60px;
  padding-top: 7%;
  padding-bottom: 7%;
}

.title{
  font-family: var(--bluu), sans-serif;
  text-decoration:none;
  font-size: 50px;
  width: 170px;
  color: var(--text);
  display: inline-block;
  margin-left: 18%;
}

.updates{
  display: inline-block;
}

.list-group-item{
  font-family: var(--overused), sans-serif;
  text-decoration:none;
  font-size: 16px;
  color: var(--text);
  padding: 0px;
  width: 400px;
  display: inline-block;
}

hr {
  border: none;
  background-color: var(--lightElement);
  height: 1.5px;
  width: 100%;
  text-align:center;
  margin-left:0;
}

.text-button-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 50px;
  padding-top: 3%;
  list-style-type: none;
}

.b1Div{
  width: auto;
  display: inline-block;
}

.b1{
  font-family: "Work Sans", sans-serif;
  width: 140px;
  color: var(--text);
  padding: 10px;
}

/* The Challenge */

.challengeDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--light);
  background-image: url(src/assets/water.svg);
  padding: 5%;
}

.challengeHead {
  font-family: var(--bluu);
  color: var(--text);
  padding-top: 50px;
}

.challengetxt {
  font-family: var(--overused);
  font-size: 18px;
  color: var(--text);
  text-align: center;
  width: 75%;
}

.interested{
  font-family: var(--overused);
  color: var(--text);
  text-align: center;
  font-size: 22px;
}

.embeded-link{
  font-family: var(--overused);
  color: var(--text);
  text-align: center;
  font-size: 22px;
  text-decoration: underline;
}

.embeded-link:hover{
  color: blue;
}