@import url(https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap);
@font-face {
  font-family: "Overused Grotesk Medium";
  src: url(./assets/fonts/OverusedGrotesk-Medium.ttf);
}
@font-face {
  font-family: "Bluu Next";
  src: url(./assets//fonts/BluuNext-Bold.otf);
}

html {  
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;  
}
body {
  margin:0;
  padding:0;
}
:root {
  font-family: sans-serif;

  /* color variables */
  --light: #FFFFFF;
  --lightHover: rgba(255, 255, 255, 0.7);
  --light2: rgba(0, 6, 42, 0.05);;
  --lightBlueHover: rgba(143, 186, 249, 0.9);
  --lightBlue: #8FBAF9;
  --darkBlue: #629AED;
  --text: #21253E;
  --lightElement: #90939E;
  --bg: #18214A;

  /* custom font variables */
  --overused: "Overused Grotesk Medium";
  --bluu: "Bluu Next";
  --work: "Work Sans";

/* background */
  background-color: var(--bg);
  background-size: cover;
  background-repeat: no-repeat;
}

/* Navbar */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 2%;
}

  a, button {
  font-family: "Work Sans", sans-serif;
  text-decoration:none;
}

.unselected {
  font-family: "Work Sans", sans-serif;
  text-decoration:none;
  color: var(--lightElement)
  
}

.unselected:hover  {
  color: var(--lightHover);
}

.navlink{
  display: inline-block;
  font-size: 13px;
  position: relative;
  top: -10px;
}

button {
  padding: 10px 23px;
  background-color: var(--lightBlue);
  color: var(--text);
  font-weight: 500;
  border: none;
  border-radius: 20px;
  transition: all 0.3 ease 0s;
  cursor: pointer;
}
button:hover {
  background-color: var(--lightBlueHover);
  color: var(--text);
}

.cta {
  position: relative;
  top: -5px;
}

/*
Hero
*/

.herotxt {
  align-items: center;
  text-align: center;
  font-size: 40px;
  font-family: var(--bluu);
  color: var(--light);
}

.sub {
  font-family: var(--overused);
  font-size: 18px;
  color: var(--lightBlue);
  text-align: center;
}

/*
MiniGallery
*/

.carousel{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 3%;
  padding-bottom: 3%;
}

.spacing{
  padding: 7%;
}

.spacing2{
  padding: 3%;
}

.carousel-buttons{
  display: flex;
  justify-content: center;
  padding: 10px;
  padding-bottom: 20px;;
}

.back, .next{
  width: 30px;
  display: inline;
}

.spacing1{
  display: inline;
  padding: 3%;
}

.backB, .nextB{
  background-color: var(--lightBlueHover);
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}

.backB:hover, .nextB:hover{
  background-color: var(--light);
}

/* NewsBoard */

.newsBoardDiv{
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 100px;
  padding-bottom: 3%;
  background-color: var(--light);
}

.newsBoard{
  background-color: var(--light);
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
  align-content: center;
  column-gap: 20px
}

.title{
  font-family: var(--bluu), sans-serif;
  font-size: 55px;
  width: 170px;
  color: var(--text);
  display: inline-block;
  height: auto;
  padding-right: 30px;
}

.updates{
  display: inline-block;
  padding-left: 0px;
}

.list-group-item{
  font-family: var(--overused), sans-serif;
  text-decoration:none;
  font-size: 16px;
  color: var(--text);
  padding: 0px;
  width: 320px;
  display: inline-block;
}

hr {
  border: none;
  background-color: var(--lightElement);
  height: 1.5px;
  width: 100%;
  text-align:center;
  margin-left:0;
}

.text-button-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 65;
  padding-top: 3%;
  list-style-type: none;
}

.b1Div{
  width: auto;
  display: inline-block;
}

.b1{
  font-family: "Work Sans", sans-serif;
  width: 140px;
  color: var(--text);
  padding: 10px;
}

/* The Challenge */

.challengeDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--light);
  background-image: url('./assets/water.svg');
  background-size: 60rem;
  background-repeat: no-repeat;
  background-position-x: 50%;
  padding: 0%;
  padding-top: 0rem;
}

.challengetxt {
  font-family: var(--overused);
  font-size: 18px;
  color: var(--text);
  text-align: center;
  width: 60%;
  padding-top: 11%;
}

.interested{
  font-family: var(--overused);
  color: var(--text);
  text-align: center;
  font-size: 18px;
  padding-bottom: 5rem;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  font-family: var(--overused);
  color: var(--text);
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--darkBlue);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  font-family: var(--overused);
  color: var(--text);
  transform: scaleX(1);
  transform-origin: bottom left;
}

/*
Theme
*/


.theme {
  background: url('./assets/space.png');
  border-radius: 1%;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-size: 55rem;
  
  width: 55%;
  padding: 7%;
  padding-bottom: 5rem;
  padding-top: 50px;

  margin-left: 15%;
  margin-right: 15%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: var(--light);
  font-family: var(--overused);
  font-size: 16px;
  text-align: center;
}

/* Sponsorships */

.sponsorFlex{
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: var(--light);

  margin-right: 10;
  margin-left: 10;
  padding-top: 4%;
  padding-bottom: 5%;

}

.sponsorFlexGrid{
  background-color: var(--light);
  display: flex;
  flex-flow: wrap;
  align-content: center;
  justify-content: space-evenly;
  column-gap: 5rem;
}

.sponsorDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  padding-bottom: 5%;
  padding-top: 5%;

  font-family: var(--overused);
  color: var(--text);
  font-size: 22px;
  text-align: center;
  width:23rem;
}

.sponsorButton {
  background-color: var(--bg);
  color: var(--light);
  width: 150px;
}

.sponsorButton:hover {
  background-color: var(--text);
  color: var(--light)
}

.sponsorimgDiv{
  display: inline-block;
  background-color: var(--light2);
  border-radius: 10px;
  padding: 20px;
}

/*
NavBarFooter
*/

.navBarFooter{
  background-color: #14173f;
  padding-top: 20px;
  padding-bottom: 1%;
  padding-right: 50px;
  padding-left: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  column-gap: 35%;
}

.iconsF{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 40px;
  top: 6px;
}

.textF {
  font-family: var(--overused);
}